doctype html
html(ng-app='prop', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Property Investor
    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
    link(href='/views/home/home.css', rel='stylesheet')
  body
    include nav
    .container
      .row
        .col-xs-12
          #container(ng-view)

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOoswi3fUi-t8NCGt_zFTsDFEA4FpvoU&sensor=true')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/chartjs/Chart.js')
    script(src='/index.js')
    script(src='/components/home.js')
    script(src='/components/value.js')
    script(src='/components/res.js')
    script(src='/components/com.js')
    script(src='/views/home/home.js')
    script(src='/views/value/value.js')

