h4 {{title}}
.row
  .col-xs-4
    include search
  .col-xs-4
    #map
  .col-xs-4
    .panel.panel-primary
      .panel-heading
        h3#details.panel-title Details
      .panel-body
        dl.dl-horizontal
          dt Median Home Value:
          dd "value"
          br
          dt Stability:&nbsp;
          dd "stable || not stable"
          br
          dt Good/Bad Investment:
          dd "Go for it! || RUN AWAY!"
          br
.row
  .col-xs-12
    canvas#chart(style='width: 1000px; height: 1000px')
    include tabs

.row#debug
  .col-xs-12
    pre {{loc | json}}
    pre {{permits | json}}
    pre {{devApps | json}}

