// Nav Tabs
ul#dataTabs.nav.nav-tabs(role='tablist')
  li.active
    a(href='#', role='tab', data-toggle='tab') Home Value Index
  li
    a(href='#', role='tab', data-toggle='tab', ng-click='searchPermits()') Residential Development
  li
    a(href='#', role='tab', data-toggle='tab', ng-click='searchApps()') Commercial Development
// Tab panes
#dataContent.tab-content
  #value.tab-pane.fade.in.active(ng-include='value-chart.html')
  #res.tab-pane.fade
    | INSERT RESIDENTIAL DATA HERE
  #com.tab-pane.fade
    | INSERT COMMERCIAL DATA HERE
