// Nav Tabs
ul#dataTabs.nav.nav-tabs(role='tablist')
  li.active
    a(role='tab', data-toggle='tab') Home Value Index
  li
    a(role='tab', data-toggle='tab') Residential Development
  li
    a(role='tab', data-toggle='tab') Commercial Development
// Tab panes
#dataContent.tab-content
  .tab-pane.fade.in.active
    canvas#value(style='width: 300px; height: 300px')
  .tab-pane.fade
    | CONTENT
  .tab-pane.fade
    | CONTENT

